<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qianying.graduation.mapper.GrabLibMapper">

	<insert id="insertGrabLib" parameterType="cn.qianying.graduation.domain.GrabLib">
		insert into
		tb_grab_lib(content_id,web_name,web_site_addr,grab_sign,add_time)
		values(#{contentId,jdbcType=BIGINT},#{webName,jdbcType=VARCHAR},#{webSiteAddr,jdbcType=VARCHAR},#{grabSign,jdbcType=VARCHAR},date_format(Now(),'%Y%m%d:%H-%i-%s'));
	</insert>

	<insert id="insertGrabLibs" parameterType="java.util.List">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into
		tb_grab_lib(content_id,web_name,web_site_addr,grab_sign,add_time)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.contentId,jdbcType=BIGINT},#{item.webName,jdbcType=VARCHAR},#{item.webSiteAddr,jdbcType=VARCHAR},#{item.grabSign,jdbcType=VARCHAR},date_format(Now(),'%Y%m%d:%H-%i-%s'))
		</foreach>
	</insert>
	<select id="listAll" resultType="cn.qianying.graduation.domain.GrabLib">
		select * from
		tb_analized_message
	</select>

	<insert id="addRecord" parameterType="cn.qianying.graduation.domain.GrabLib">
		insert into
		tb_analized_message
		values(date_format(Now(),'%Y%m%d%H%i%s'),#{username,jdbcType=CHAR},#{age,jdbcType=CHAR},#{gender,jdbcType=CHAR});
	</insert>

	<insert id="saveOrUpdate" parameterType="cn.qianying.graduation.domain.GrabLib">
		insert into
		tb_analized_message(id,username,age,gender)
		values(#{id,jdbcType=CHAR},#{username,jdbcType=CHAR},#{age,jdbcType=CHAR},date_format(Now(),'%Y%m%d%H%i%s'))
		ON DUPLICATE KEY UPDATE
		username=#{username,jdbcType=CHAR},age=#{age,jdbcType=CHAR},gender=date_format(Now(),'%Y%m%d%H%i%s');
	</insert>

	<select id='getDetail' resultType='cn.qianying.graduation.domain.GrabLib'
		parameterType="java.lang.String">
		select userName,age,gender from tb_analized_message
		where id=#{id,jdbcType=VARCHAR};
	</select>
</mapper>