<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qianying.graduation.mapper.PageContentMapper">
	<insert id="insertPageContent" parameterType="cn.qianying.graduation.domain.PageContent" useGeneratedKeys="true" keyProperty="msgId">
		insert into tb_page_content(content_dir,add_time) values(#{contentDir,jdbcType=VARCHAR},date_format(Now(),'%Y%m%d %H-%i-%s'));
	</insert>
</mapper>